@import "tailwindcss";






.fill__available{fill:#767154;}
.fill__occupied{fill:#6F171F;} /* REAERVED */
.fill__partial{fill:#bf9b7a;}

.fill__area{fill:#085e16;}
.fill__wall{fill:#4A494A;}


.text-primary{ color: #367F33; }


    

