@import "tailwindcss";






.fill__available{fill:#70a34e;}
.fill__occupied{fill:#c42e1c;}
.fill__partial{fill:#f2920c;}

.fill__area{fill:#085e16;}
.fill__wall{fill:#4A494A;}


.text-primary{ color: #367F33; }


    

